<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cinema.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @cinema.location %>
</p>

<p>
  <strong>Constructed:</strong>
  <%= @cinema.constructed %>
</p>

<%= link_to 'Edit', edit_cinema_path(@cinema) %> |
<%= link_to 'Back', cinemas_path %>
